@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Archive";
    src: url(../Archive.otf);
  }
  @font-face {
    font-family: "BD";
    src: url(../BD-Nippori.otf);
  }
  @font-face {
    font-family: "Razed";
    src: url(../Razed_bold.ttf);
  }
  @font-face {
    font-family: "montserrat";
    src: url(../montserrat.ttf);
  }
}

.bgTest {
  background-image: url("/img/test.gif");
}
