@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Archive";
    src: url(../Archive.otf);
  }
  @font-face {
    font-family: "Razed";
    src: url(../Razed_bold.ttf);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
.grid__container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 200;
}

.full {
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  z-index: 200;
  height: 0%;
  animation: fill 0.5s ease-in-out forwards;
  padding: 15px;
  transition: 0.2s all ease-in-out;
}

@keyframes fill {
  from {
    height: 0%;
    opacity: 0;
  }
  to {
    height: 100vh;
    opacity: 1;
  }
}

.full.remove {
  height: 100vh;
  animation: remove 0.5s ease-out forwards;
}

@keyframes remove {
  from {
    height: 100vh;
    opacity: 1;
  }
  to {
    height: 0%;
    opacity: 0;
  }
}

.grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid .grid__item {
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.grid .grid__item:hover img:hover {
  transform: scale(1.03);
}

.grid .grid__item img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.grid .grid__item .index {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.deets__img {
  width: 100%;
  opacity: 0;
  animation: sewwyy 0.5s ease-in-out 0.5s forwards;
}

@keyframes sewwyy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close__btn {
  width: 40px;
  height: 40px;
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.close__btn .bar {
  background-color: white;
  height: 3px;
  width: 30px;
  position: absolute;
}

.close__btn .bar.one {
  transform: rotate(45deg);
}

.close__btn .bar.two {
  transform: rotate(-45deg);
}

@media (min-width: 700px) {
  .grid__container {
    width: calc(100vw - 200px);
    margin-left: 200px;
    position: relative;
    z-index: 1000;
  }

  .full {
    height: 100%;
    width: 0%;
    margin-left: 200px;
    animation: fill 0.3s ease-in-out forwards;
    padding: 10px 30px;
    transition: 0.2s all ease-in-out;
  }

  .full .deets__img {
    width: 100%;
    height: fit-content;
  }

  @keyframes fill {
    from {
      width: 0%;
      opacity: 0;
    }
    to {
      height: 100vh;
      width: inherit;
      opacity: 1;
    }
  }

  .full.remove {
    height: 100vh;
    width: inherit;
    animation: remove 0.3s ease-out forwards;
  }

  @keyframes remove {
    from {
      height: 100vh;
      width: inherit;
      opacity: 1;
    }
    to {
      height: 0%;
      width: 0%;
      opacity: 0;
    }
  }

  .close__btn {
    cursor: pointer;
  }

  .grid {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow: hidden;
  }

  .bear__deets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 60px);
  }

  .bear__deets .image__container {
    width: 45%;
  }

  .bear__deets .info {
    width: 45%;
    height: 100%;
  }
}

.nav {
  position: relative;
  font-family: "Raleway", sans-serif;
  background-color: #000000;
  height: 2.8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav__second {
  display: none;
}

.burger__container {
  display: flex;
  height: 100%;
  align-items: center;
}

.burger__container .main-burger {
  width: 25px;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

.burger__container .burger {
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__container .burger .main-burger::before,
.burger__container .burger .main-burger::after {
  content: "";
  height: 2px;
  width: 25px;
  position: absolute;
  background-color: white;
  transition: 0.3s;
}

.burger__container .burger .main-burger::before {
  transform: translateY(-8px);
}

.burger__container .burger .main-burger::after {
  transform: translateY(8px);
}

.burger__container .burger .main-burger.ex {
  background-color: transparent;
}

.burger__container .burger .main-burger.ex::before {
  transform: rotate(45deg);
}

.burger__container .burger .main-burger.ex::after {
  transform: rotate(-45deg);
}

.nav .socials {
  display: flex;
  gap: 30px;
  opacity: 0;
  align-items: center;
  animation: appear 0.2s ease-in-out 0.6s 1 forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav .socials img {
  width: 40px;
}

.nav .nav__items-container {
  position: absolute;
  top: 2.8rem;
  left: 0;
  background-color: black;
  width: 100%;
  height: calc(100vh - 2.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.nav .nav__items-container.collapsed {
  display: none;
}

.nav .nav__items-container .nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 100%;
  top: calc(2.8rem - 100vh);
  left: 0;
  opacity: 1;
  position: absolute;
  gap: 50px;
  animation: drop 0.3s ease-in-out 1 forwards;
}

@keyframes drop {
  from {
    top: calc(2.8rem - 100vh);
  }
  to {
    top: 0;
    height: 100%;
  }
}

.nav .nav__items-container.collapsed .nav__items {
  transition: 0.5s opacity ease-in-out;
  opacity: 0;
  left: 0;
}

.nav .codex__weapons {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  opacity: 0;
  animation: appear 0.2s ease-in-out 0.3s 1 forwards;
}

.nav .nav__first {
  width: 35px;
  height: 35px;
  margin-top: 3px;
}

@media (max-width: 350px) {
  .nav .codex__weapons {
    flex-direction: column;
    align-items: center;
  }
}

.nav .codex__weapons a {
  font-size: 25px;
}

@media (max-width: 250px) {
  .nav__items {
    overflow: hidden;
  }
}

@media (min-width: 700px) {
  .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    padding: 30px 0 0;
    /* box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.385); */
  }

  .nav .burger__container {
    display: none;
  }

  .nav .nav__first {
    width: 80px;
    height: 80px;
    display: grid;
    border-radius: 50%;
    place-items: center;
  }

  .nav .nav__items-container {
    position: unset;
    height: calc(100% - 150px);
  }

  .nav .nav__items-container.collapsed {
    display: block;
  }

  .nav .nav__items-container.collapsed .nav__items {
    opacity: 1;
  }

  .nav .nav__items-container .nav__items {
    position: unset;
    top: unset;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav .codex__weapons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 1;
  }

  .nav .codex__weapons a {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
  }

  .nav .socials {
    display: flex;
    gap: 10px;
    flex-direction: column;
    opacity: 1;
  }

  .nav .socials img {
    transition: all 0.4s ease-in-out;
  }

  .nav .nav__items-container .nav__items .codex__weapons a {
    font-weight: 900;
  }

  .nav .socials img:hover {
    transform: scale(1.1);
  }
}

.medorii_fn_leftnav .nav_holder .active ~ .sub-menu {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.medorii_fn_leftnav .nav_holder .active ~ .sub-menu::-webkit-scrollbar {
  width: 0px;
}
#ripple {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.draggable-cards {
  display: flex;
  position: relative;
  z-index: 1;
}

.draggable-cards::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.draggable-cards .card {
  width: 400px;
}

.site-footer.in-view .site-footer__top,
.site-footer.in-view .site-footer__bottom {
  animation-name: fade-in;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.site-footer__top {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--footer-top-border);
  padding-bottom: 20px;
}
.site-footer__top,
.site-footer__bottom {
  opacity: 0;
}

.site-footer.in-view .site-footer__top,
.site-footer.in-view .site-footer__bottom {
  animation-name: fade-in;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.site-footer__bottom {
  padding-bottom: 100px;
  color: var(--footer-bottom-text);
  font-family: Integral CF, Helvetica, Arial, sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 2.625;
  letter-spacing: 0.58em;
  text-transform: uppercase;
}

.Hero {
  height: 100vh;
  padding: 50px;
  font-family: "Archive";
  display: flex;
  /* flex-direction: ; */
  justify-content: space-between;
}

.Hero .header {
  display: flex;
  padding: 20px 50px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.Hero .header button {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 200px;
}

.play__button {
  width: 30px;
  height: 30px;
  margin-left: 2px;
  background-color: #660369;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: 4px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid white;
}

.Hero .header .bionic__bear {
  font-size: 20px;
  cursor: pointer;
}

.Hero .hero__description {
  color: white;
  text-transform: uppercase;
  width: 50%;
  align-self: flex-end;
}

/* .Hero .hero__description::before {
  content: "";
  height: 5px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
} */

.Hero .hero__description h1,
.Hero .hero__description h4,
.Hero .hero__description p {
  margin: 0;
  font-weight: 100;
}

.Hero .hero__description h1 {
  font-weight: 900;
  font-size: 80px;
  max-width: 700px;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .Hero .hero__description h1 {
    line-height: 80px;
  }
}

.Hero .hero__description .season {
  font-size: 20px;
  font-weight: 100;
  margin: 10px 0;
}

.Hero .hero__description .style {
  font-size: 25px;
  margin-bottom: 30px;
}

.Hero .hero__description .skins,
.Hero .hero__description .opensea,
.Hero .hero__description .playbox {
  font-size: 20px;
}

@media (max-width: 1000px) {
  .Hero .hero__description h1 {
    font-size: 40px;
    max-width: 400px;
  }
}

@media (max-width: 460px) {
  .Hero .header button {
    width: 130px;
    font-size: 10px;
  }

  .Hero .header button .play__button {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-left: 6px;
  }

  .triangle {
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid white;
  }

  .Hero .header .bionic__bear {
    font-size: 15px;
  }
}

@media (max-width: 390px) {
  .Hero .header button {
    font-size: 10px;
    padding: 5px;
    width: unset;
  }

  .play__button {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }

  .triangle {
    margin-left: 1.4px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid white;
  }

  .Hero .header .bionic__bear {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .Hero .hero__description h1 {
    font-size: 25px;
  }
}

/* .Hero .bottom__nav {
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 0;
  height: 100px;
  border: 2px dashed purple;
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: space-between;
}

.Hero .bottom__nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
}

.Hero .bottom__nav a.transparent {
  color: transparent; 
}*/

.slide-container {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: auto;
}

.page__two {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 50px;
  justify-content: flex-end;
}

.page__two .page__two-main {
  color: white;
}

.page__two .page__two-main h2 {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 30px;
}

.page__two .page__two-main h2.skin {
  margin-bottom: -7px;
}

.page__two .page__two-main p.cryptic {
  margin-bottom: -3px;
}

.page__two .page__two-main p.artificial {
  margin-top: -20px;
  font-size: 20px;
}

.page__three {
  height: 100vh;
  width: 100%;
  color: white;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page__three .page__three-main .bear {
  font-size: 16px;
  text-transform: uppercase;
}

.page__three .page__three-main h2 {
  font-size: 80px;
  font-weight: 900;
  max-width: 500px;
  text-transform: uppercase;
}

.page__three .page__three-main button {
  background-color: white;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .page__three,
  .page__two,
  .Hero,
  .Hero .header {
    padding: 20px;
  }

  .Hero .hero__description {
    width: unset;
  }

  .Hero .hero__description h1 {
    font-size: 40px;
  }

  .Hero .hero__description .style {
    font-size: 18px;
  }
}

@media (max-width: 300px) {
  .page__three,
  .page__two,
  .Hero,
  .Hero .header {
    padding: 10px;
  }

  .page__two .page__two-main h2 {
    font-size: 25px;
  }

  .page__three .page__three-main h2 {
    font-size: 45px;
  }
}

.test {
  position: relative;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.test:before {
  /* border: 10px solid;
  border-radius: 10px;
  border-image-slice: 1;
  --angle: 0deg;
  border-image: linear-gradient(
      var(--angle),
      var(--mc1),
      var(--mc2),
      var(--mc1),
      var(--mc2)
    )
    1;
  animation: 10s rotate linear infinite;
   */
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 3px;
  background: linear-gradient(var(--angle), var(--mc1), var(--mc2), var(--mc1));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: 10s rotate linear infinite;
}

.test:hover {
  animation: 5s rotate linear infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70vw;
  min-height: 100%;
  height: max-content;
  margin: 10px auto;

  /* box-shadow: 10px 10px 10px #1cfdff; */
  overflow: hidden;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 20%;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 30px;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: #cb6ce6;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  display: none;
  margin-top: 20px;
  border-radius: 50px;
  padding: 50px;
  background-color: #353234;
}

.active-content {
  display: block;
}

.glass::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;

  /* Create gradient border */
  background-image: linear-gradient(to bottom right, purple, #1cfdff);

  background-size: 3px calc(100% + 6px);

  background-position: top left;

  background-repeat: no-repeat;
}

footer {
  background-color: black;
}

footer .top__footer,
footer .bottom__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
  border-top: 4px solid white;
}

footer .top__footer .join_name {
  font-size: 10px;
  font-weight: 100;
  margin-bottom: 15px;
}

footer .top__footer h1 {
  max-width: 300px;
  font-size: 50px;
  font-weight: 900;
}

footer .top__footer .metaverse {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 20px;
}

footer .top__footer .join_date {
  font-size: 10px;
  font-weight: 100;
}

footer .top__footer .socials_div .social_link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-weight: 100;
  justify-items: flex-start;
}

footer .top__footer .socials_div .social_link .socail_text {
  width: 70px;
}

footer .bottom__footer .terms {
  display: flex;
  gap: 50px;
}

footer .bottom__footer a {
  font-size: 13px;
  color: #cb6ce6;
  text-decoration: none;
}

@media (max-width: 768px) {
  footer .top__footer {
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  footer .top__footer .join_name {
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 5px;
  }

  footer .top__footer h1 {
    max-width: 200px;
    font-size: 30px;
    font-weight: 900;
  }

  footer .top__footer .metaverse {
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 10px;
  }

  footer .top__footer .join_date {
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 20px;
  }

  footer .top__footer .socials_div {
    display: flex;
    gap: 15px;
  }

  footer .top__footer .socials_div .social_link .socail_text {
    display: none;
  }

  footer .bottom__footer .terms {
    gap: 10px;
  }
}
